transformers
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
torch==2.2.1
torchdata==0.7.1
torchmetrics
aiosignal==1.3.2
altair==5.5.0
py3Dmol
openpyxl
scikit-learn==1.6.1
annotated-types==0.7.0
ase==3.24.0
attrs==25.1.0
blinker==1.9.0
cachetools==5.5.1
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
contourpy==1.3.1
cycler==0.12.1
dgl==2.1.0
filelock==3.17.0
fonttools==4.55.8
frozenlist==1.5.0
fsspec==2024.12.0
gitdb==4.0.12
gitpython==3.1.44
idna==3.10
jinja2==3.1.5
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
latexcodec==3.0.0
lightning-utilities==0.11.9
markdown-it-py==3.0.0
markupsafe==3.0.2
matgl==1.1.1
matplotlib==3.10.0
mdurl==0.1.2
monty==2025.1.9
mpmath==1.3.0
multidict==6.1.0
narwhals==1.24.1
networkx==3.4.2
numpy==1.26.4
packaging==24.2
palettable==3.3.3
pandas==2.2.3
pillow==11.1.0
plotly==6.0.0
propcache==0.2.1
protobuf==5.29.3
psutil==6.1.1
pyarrow==19.0.0
pybtex==0.24.0
pydantic==2.10.6
pydantic-core==2.27.2
pydeck==0.9.1
pygments==2.19.1
pymatgen==2025.1.24
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytorch-lightning==2.5.0.post0
pytz==2024.2
pyyaml==6.0.2
referencing==0.36.2
requests==2.32.3
rich==13.9.4
rpds-py==0.22.3
ruamel-yaml==0.18.10
ruamel-yaml-clib==0.2.12
scipy==1.15.1
setuptools==75.8.0
six==1.17.0
smmap==5.0.2
spglib==2.5.0
streamlit==1.41.1
sympy==1.13.3
tabulate==0.9.0
tenacity==9.0.0
toml==0.10.2
tornado==6.4.2
tqdm==4.67.1
typing-extensions==4.12.2
tzdata==2025.1
uncertainties==3.2.2
urllib3==2.3.0
wheel==0.45.1
yarl==1.18.3
